.container-card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #27355C
}

.card {
    width: 30rem;
    margin-left: 10px;
    margin-right: 10px;
}

.card-body {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

nav {
    position: absolute !important;
    background-color: lightslategray;
    width: 100%;
}

.answer-list:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success,
.bg-danger {
    color: white !important;
}